.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    background: #d5b8ff;
    color: #fff;
    padding: 12px;
}

.title {
    text-align: center;
    background: #d5b8ff;
    color: #fff;
    margin: 0px;
    padding-top: 10px;
}

a {
    color: #ffffff;
    text-decoration: none;
}