.product-image {      
    list-style-type: none;
    width: 290px;
    padding: 20px;
    margin: 6px 6px;        
    border: 1px solid #d5b8ff;
} 

.product-container {
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mauve {
    background-color:#d5b8ff;
    border-color: #d5b8ff;
    font-weight: 900;
}

.clickable {
    cursor: pointer;
}