.confirmation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
}

.confirmation-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmation-header {
    color: #b889fa;
}

.confirmation-item {
    margin-bottom: 30px;
}

a {
    color: #8f6fbc;
}