<h4 class="empty-cart-message" *ngIf="cart?.length == 0">Your Cart is Empty!</h4>
<div class="cart-container">
    <div>
        <div class="cart-item" *ngFor="let product of cart">
            <img [src]="product.url" alt="product image">
            <div class="cart-item-details">
                <h4>{{ product.name }}</h4>
                <p>Price: {{ product.price }} SAR</p>
                <div style="flex-direction: row;">
                    <p>Quantity: {{ product.quantity }}</p>
                    <button class="btn btn-primary mauve" style="margin-right: 10px;" [disabled]="product.quantity == 10" (click)="increase(product)">+</button>
                    <button class="btn btn-primary mauve" style="margin-right: 10px;" (click)="decrease(product)">-</button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="cart?.length">
        <h4>Total Amount: {{ amount | number:'1.2-2' }} SAR</h4>
        <br>
        <button class="btn btn-primary mauve" style="margin-right: 10px;" (click)="clearCart()">Clear Cart</button>
        <app-payment-form (pay)="pay($event)"></app-payment-form>
    </div>
</div>
