img {
    width: 100px;
    border-radius: 10px;
}

.cart-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.cart-item-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    margin-left: 80px;
}

.cart-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 64px;
}

.empty-cart-message {
    display: flex;
    justify-content: center;
    margin-top: 64px;
}

.mauve {
    background-color:#d5b8ff;
    border-color: #d5b8ff;
    font-weight: 900;
}