<div class="detail-container">
    <img [src]="product.url" alt="product image">
    <div class="detail-item">
        <h2>{{ product.name }}</h2>
        <h4>{{ product.description }}</h4>
        <h6>Price: {{ product.price }} SAR</h6>
        <h6>Quantity: {{ product.quantity }}</h6>
        <button class="btn btn-primary" style="margin-right: 10px;" [disabled]="product.quantity == 10" (click)="increase(product)">+</button>
        <button class="btn btn-primary" style="margin-right: 10px;" [disabled]="product.quantity == 1" (click)="decrease(product)">-</button>
        <br>
        <button class="btn btn-primary" style="margin-top: 10px;" (click)="addToCart(product)">Add To Cart</button>
    </div>
</div>


