img {
    border-radius: 10px;
    width: 300px;
}

.detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}

.detail-item {
    margin-left: 128px;
    margin-right: 128px;
}

.mauve {
    background-color:#d5b8ff;
    border-color: #d5b8ff;
    font-weight: 900;
}